* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container-out {
  background-color: #fff;
  margin: 0 10vw;
  padding: 10px 0;
  background-color: transparent;
}
.cabecalho {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.cabecalho .opcoes {
  display: flex;
  justify-content: flex-start;
  width: 10vw;
  align-items: baseline;
  color: #788592;
}
.cabecalho .opcoes .link {
  margin-left: 40px;
}
.cabecalho .btn-schedule {
  position: relative;
  top: -10px;
}
.btn-schedule {
  border: none;
  background-color: #1d1b67;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
}
.btn-schedule:hover {
  background-color: #8aaab6;
  transition: 0.3s;
}
.btn-demo {
  background: none;
  border: none;
  padding: 15px;
  color: #425466;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}
.conteudo,
.conteudo-deslocado,
.usuarios,
.informativo {
  width: 50%;
  margin-bottom: 10px;
}
.conteudo,
.conteudo-deslocado {
  min-height: 65vh;
}
.container .conteudo {
  padding-right: 200px;
  color: #788592;
}
.conteudo #titulo {
  font-size: 42px;
  font-weight: 700;
  color: #1d1b67;
  margin-bottom: 30px;
}
.texto {
  margin-bottom: 30px;
  font-size: 14px;
}
.nota {
  font-size: 14px;
}
#icon-shield {
  position: relative;
  bottom: -7px;
  margin-right: 10px;
}
#learn-more {
  text-decoration: underline;
}
.conteudo-deslocado {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-mockup {
  height: 450px;
}
.informativo,
.usuarios {
  padding: 40px 0;
}
#subtitulo-timenow {
  font-size: 32px;
  font-weight: 700;
  color: #1d1b67;
  margin-bottom: 30px;
}
.img-avatar {
  height: 40px;
}
.texto-acima {
  color: #788592;
  margin-bottom: 30px;
  font-size: 14px;
}
.texto-abaixo {
  color: #788592;
  font-size: 14px;
}

.cards {
  background-color: #cdf9ff;
  display: flex;
  padding: 0 10vw;
}
.card {
  padding: 30px 0;
  padding-right: 20px;
}
.card-titulo {
  color: #3b60bf;
  font-size: 14px;
  margin-bottom: 15px;
}
.card-subtitulo {
  color: #005661;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 5px;
}
.card-texto {
  color: #4a5e6f;
  font-size: 14px;
  margin-bottom: 10px;
}

.conteudo-rodape {
  margin: 0 10vw;
  display: flex;
  justify-content: space-between;
}
.logo-rodape {
  margin: 0 10vw;
  margin-top: 80px;
  margin-bottom: 20px;
}
.interacoes {
  display: flex;
  justify-content: space-around;
}
.interacoes #lista > li {
  list-style-type: none;
  margin: 10px 0;
  margin-right: 10vw;
  color: #788592;
}
.form {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #788592;
  padding: 2px;
  margin-top: 5px;
}
.input-email {
  border: none;
  padding-left: 20px;
}
.fundo-deslocado {
  position: absolute;
  background-color: #46ccde;
  right: 0px;
  top: 0px;
  width: 49.5vw;
  height: 74.5vh;
  z-index: -1;
}
